/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/count
/gmon.out
/input_1e2.txt
/input_1e3.txt
/input_1e4.txt
/input_1e5.txt
/input_1e6.txt
/input_1e7.txt
/input_1e8.txt
/input_1e9.txt
/mkrandom
/program
